.back {
    background-color: #CABF89;
}

.imgback {
  background: linear-gradient(rgba(37, 137, 172, 1), rgba(219, 155, 30, 1));
}


@keyframes flipUp {
    0% {
      transform: perspective(400px) rotateX(90deg);
      opacity: 0;
    }
    100% {
      transform: perspective(400px) rotateX(0deg);
      opacity: 1;
    }
  }
  
  .flip-up {
    animation: flipUp 0.8s ease-out;
  }
  