.imgAbout {
    width: 448px;
    height: 514px;
}

/* mediaquery */

@media (max-width: 768px) {
    .imgAbout {
        width: 100%;
        height: 100%;
    }

    .textSmall {
        font-size: 2rem;
    }
}
